.cartContainer {
  padding: 0 20px;

  .cartFotter {
    position: fixed;
    bottom: 5px;
    width: 360px;
    padding: 20px 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
