.AddCartButton {
  background: none;
  padding: 10px 20px;
  border: solid 0.5px;
  transition: 0.2s;
  cursor: pointer;
}

.AddCartButton:hover {
  box-shadow: rgba(0, 0, 0, 0.445) 1px 1px 1px;
}

.AddCartButton:active {
  box-shadow: none;
}
